body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('Fondo_1.jpg'); 
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #ffffff, #03aef3);
  padding: 10px 20px;
}

.izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 55px;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.universidad {
  margin: 0;
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}

.nombre {
  margin: 2px 0 0 0;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  text-align: center;
  color: #4987e4;
}

.sql-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.video-container {
  border: 3px solid #0d47a1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.sql-boton {
  background-color: #1976d2;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color
}

footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--footer-bg);
    color: var(--border-blue);
    text-align: center;
    padding: 1em 0;
    font-size: 1.05em;
    letter-spacing: 0.04em;
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.397);
    z-index: 1001;
}
.bajo {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #03aef3;
}



